# Segredos usados apenas pelas rotas do servidor. Nunca use NEXT_PUBLIC_ nestes nomes.
CPANEL_BASE_URL=https://seu-servidor-cpanel:2083
CPANEL_USERNAME=
CPANEL_API_TOKEN=
CPANEL_EMAIL_DOMAIN=ecommerce365.com.br
CPANEL_EMAIL_QUOTA_MB=250
EMAIL_CREDENTIALS_ENCRYPTION_KEY=
